@import "{francocatena:compass}/compass/css3/transition";

$grass: #FEF8CF;
$sage: #D4DFC7;
$mint: #96C0B7;
$stone: #878E88;
$redwood: #725752;
$blaze: #EDBF26;

$short-transition: 100ms;
$medium-transition: 500ms;

@import 'imports/datepicker';

body {
	margin: 0px;
	background-color: white;
	font-family: 'Titillium Web', sans-serif;
	color: $redwood;
}

header {
	position: fixed;
	z-index: 1500;
	width: 100%;
	height: 80px;
	top: 0px;
	box-shadow: 0px 0px 20px $stone;
}

main {
	margin-top: 100px;
}

.timelines span {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
}

div.timeline {
	background-color: $grass;
	box-shadow: 0px 0px 10px $stone;
}

div.timeline, .bigImage {
	border-radius: 25px;
	padding: 15px;
}

.bigImage img {
	display: block;
	max-width: 100%;
	border: 4px solid $redwood;
	border-radius: 25px;
}

.highlightedImage {
	flex-basis: 60%;
	display: fixed;
}

.timeline {
	flex-basis: 30%;
	max-width: 400px;

	.revealDuplicates {
		display: block;
		right: 2px;
		bottom: 6px;

		z-index: 100;
		position: absolute;
		height: 48px;
		width: 48px;
	}

	.duplicateBlock {
		position: relative;

		.revealDuplicates {
			background-image: url("/icons/Copy-48.png");
			transition: 0.7s;
		}

		.revealDuplicates:hover {
			background-image: url("/icons/Copy-48-sage.png");
			transition: 0.7s;
		}

		.timelinePhoto {
			overflow: scroll;
			position: relative;
			border: 4px solid $redwood;
			border-radius: 5px;
			margin-left: auto;
			margin-right: auto;

			button {

				img {
					width: 100%;
					margin: 0;
					padding: 0;
					display: block;
					position: static;
	  				bottom: 100%;
					max-height: 0px;
					transition: max-height 0.7s ease-in;
				}

				&:last-child img {
					max-height: 800px;
				}
			}

		}

		&.expanded {
			.revealDuplicates {
			background-image: url("/icons/Copy-48-sage.png");
			transition: 0.7s;
			}

			.revealDuplicates:hover {
				background-image: url("/icons/Copy-48.png");
				transition: 0.7s;
			}

			.timelinePhoto button img {
				transition: max-height 0.7s ease-in;
				max-height: 800px;
			}
		}
	}

	h2 {
		text-align: center;
		font-weight: 200;
		font-size: 36px;
		margin: 0;
		margin-bottom: 10px;
	}
}

.spacer {
	background: url(/dots.png);
	background-repeat: repeat-y;
	background-position: center;
	display: flex;
}

header {
	background-color: $mint;
	margin: 0px;
	margin-bottom: 25px;
	padding-left: 40px;
	padding-right: 0px;
	display: flex;

	.pagination {
		margin-top: auto;
		margin-bottom: auto;
		margin-left: auto;
		margin-right: 40px;
		display: flex;
	}

	.datePicker {
		margin: auto;
		background-color: $sage;
		border-radius: 5px;
		font-size: 24px;

		input {
			font-size: 24px;
			padding: 0;
			border: 0;
			background-color: transparent;
			text-align: center;
		}
	}
}

.left, .right {
	border:0;
    background:transparent;
    margin-left: 20px;
    margin-right: 20px;
}

.spacerText {
	font-size: 16px;
	text-align: center;
	background-color: $stone;
	border-radius: 5px;
	margin: auto;
	max-width: 100px;
	padding: 4px;
	box-shadow: 0px 0px 5px $stone;
	color: $sage;
}

*:focus {
	outline: 0;
}

.hiddenLeft, .hiddenRight {
	display: none;
}

button {
	background: transparent;
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
	display: block;
}

.tinyTimeline {
	background-color: $grass;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	font-size: 36px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 130px;

	span {
		display: block;
		justify-content: center;
		width: 120px;
	}

	.tinyTimelineLabel {
		display: block;
		font-size: 16px;
		text-align: center;
		margin: auto;
		transform: rotate(-90deg);
		width: 40px;
		overflow: hidden;
		margin-left: -25px;
		margin-top: -10px;
		width: 90px;
		height: 25px;
	}

	.ellipsis {
		display: block;
		width: 80px;
		text-align: right;
		margin: auto;
		margin-top: 10px;
	}

	div {
		margin: auto;

		.duplicateBlock {
			display: block;
			justify-content: center;
			margin: auto;
			margin-left: 5px;
			margin-right: 5px;

			.timelinePhoto {
				display: block;
				margin: auto;

				button {
					display: block;
					margin: auto;

					img {
						display: block;
						margin: 5px;
						border-radius: 10px;
						max-height: 100px;
						border: 2px solid $redwood;
						transition: all $short-transition ease-in;
					}
				}
			}
		}
	}

	.nearbyPhoto {
		.duplicateBlock .timelinePhoto button {
			img {
				border: 2px solid $blaze;
				box-shadow: 0px 0px 15px 5px $blaze;
				transition: all $short-transition ease-in;
			} 

			img:hover {
				border: 2px solid $redwood;
				box-shadow: 0px 0px 15px 5px $redwood;
				transition: all $short-transition ease-in;
			}
		}
	}

	.timelinePhoto img:hover {
		border: 2px solid $redwood;
		box-shadow: 0px 0px 15px 5px $redwood;
		transition: all $short-transition ease-in;
	}
}



.timelineStart {
	margin-bottom: 10px;
}

.timelineMap {
	width: 100%;
	height: 800px;
	background-color: $grass;
}

.leaflet-container {
	height: 100%;
}

// TRANSITIONS

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 2000ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


// comm
.slide-left-enter {
  margin-left: -500px;
}

.slide-left-enter.slide-left-enter-active {
  margin-left: 0px;
  transition: margin-left 500ms ease-in;
}

.slide-left-leave {
  margin-right: 0px;
}

.slide-left-leave.slide-left-leave-active {
  margin-right: -500px;
  transition: margin-right 500ms ease-in;
}

.slide-left-appear {
  margin-left: -500px;
}

.slide-left-appear.slide-left-appear-active {
  margin-left: 0px;
  transition:  margin-left 500ms ease-in;
}

// comm
.slide-right-enter {
  margin-right: -500px;
}

.slide-right-enter.slide-right-enter-active {
  margin-right: 0px;
  transition: margin-right 500ms ease-in;
}

.slide-right-leave {
  margin-left: 0px;
}

.slide-right-leave.slide-right-leave-active {
  margin-left: -500px;
  transition: margin-left 500ms ease-in;
}

.slide-right-appear {
  margin-right: -500px;
}

.slide-right-appear.slide-right-appear-active {
  margin-right: 0px;
  transition:  margin-right 500ms ease-in;
}

.bigCalendarWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bigCalendar {
	margin: auto;
	display: flex-item;

	.header {
		font-weight: 600;
		display: flex;

		button {
			display: inline-block;
		}

		width: 100%;
		align-items: center;
		justify-content: center;
	}

	.week {
		.day {
			display: inline-block;
			width: 100px;
			height: 120px;
			margin: 3px;
			text-align: left;
			background-color: $grass;
			border-radius: 5px;
			overflow: hidden;

			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
				font-style: italic;
				font-size: 75%;
			}
		}

		.today {
			font-weight: 50px;
			font-size: 120%;
		}

		.different-month {
			opacity: 0.5;
		}

		.empty {
			background-color: $grass;
		}

		.light {
			background-color: #FAEAA5;
		}

		.moderate {
			background-color: #F6DC7B;
		}

		.high {
			background-color: #F1CD50;
		}

		.extreme {
			background-color: $blaze;
		}
	}

	.names {
		.day {
			height: 25px;
			background-color: $redwood;
			color: $grass;
			text-align: center;
		}
	}
}

#story {
	background-color: $grass;
	width: 600px;
	font-size: 16px;
	border: 1px solid $stone;
	margin: auto;
	padding: 10px;
	border-radius: 20px;
	margin-top: 25px;
	margin-bottom: 25px;

	.duplicateBlock .timelinePhoto img {
		max-width: 100%;
	}
}

.highlightBox {
	position: absolute;
	border: 1px dashed #bbb;
}

.timelinePhoto:hover {
	.highlightBox {
		border: 4px dashed #ccc;
	}
}

.highlightBox:hover {
	border: 8px solid #ddd;
}

// calendar stuff

.cluster-root {
	background-color: white;
	// margin-left: -12px;
	// margin-right: -12px;
	overflow: hidden;
	height: 100vh;
	width: calc(100vw);
	display: flex;

	.nav {
		display: flex;
		width: 0px;
		flex-wrap: wrap;

		button {
			width: 50px;
			margin: 5px;
			z-index: 100;
			background-color: #ddd;
			border-radius: 25px;
		}

		.up {
			align-self: flex-start;
		}

		.up:hover {
			background-color: #62c3fe;
		}

		.down {
			align-self: flex-end;
		}

		.down:hover {
			background-color: #62c3fe;
		}
	}
}

.grid {
	// display: flex;
	/*margin: 10px;*/
	padding: 10px;
	height: 100%;
	width: 100%;
}

.weekdays {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.weekday {
	width: 100%;
	/*background-color: #ddd;*/
	// background-image: url(grad.png);
	// background-repeat: repeat-x;
	// margin-left: 0.5em;
	// margin-right: 0.5em;
	margin-bottom: 0em;
	background-color: none;
	text-align: left;
	padding-left: 1em;
	// border-radius: .5em;
	padding-top: 0.5em;
	font-weight: 600;
	height: calc(20% - 0.5em - 4px);
	// border-left: 1px dashed gray;
	border-top: 2px dashed gray;
	display: flex;
	align-items: center;
}

.location {
	font-style: italic;
	margin-top: 0.5em;
	text-align: center;
}

.title {
	margin-top: 0.5em;
	font-weight: bold;
	text-align: center;
}

.event {
	align-items: top;
	justify-content: center;
	position: absolute;
	border-radius: 0.5em;
	background-color: #b5d0d0;
	bottom: 10px;
	transition: 1s;
	min-width: 5%;
	width: calc(100% - 250px);
	left: 200px;
	text-align: center;
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	box-shadow: 3px 3px 6px gray;
	border: 2px solid #4283be;

	.leaflet-control-zoom {
		display: none;
	}
}

.event-singleton {
	align-items: top;
	justify-content: center;
	position: absolute;
	height: 120px;
	min-width: 120px;
	border-radius: 60px;
	// padding-top: 40px;
	background-color: #b7d1e1;
	bottom: 200px;
	transition: 1s;

	div {
	    width: 100%;
	    height: 100%;
	    background-size: contain;
	    border-radius: 60px;
	}
}

.event:hover {
	box-shadow: 7px 7px 15px gray;
	z-index: 10000 !important;
}

.photo-marker {
	position: absolute;
	left: 190px;
	height: 6px;
	width: 6px;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.2);
	// border: 2px solid rgba(0,0,0,0.5);
}

.story {
	background-color: #72ff59;
}

a {
	color: #040424;
	font-weight: 800;
}

.images {
	display: flex;
}

.image {
	width: 147px;
	height: 110px;
	background-color: gray;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
}

.cluster {
	max-height: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;

	.cluster-map {
		// background-color: #62c3fe;
		// width: 400px;
		// position: absolute;
		// height: 170px;
		// left: 575px;
		// top: -30px;
		// // border: 1px solid black;
		// border-radius: 0.5em;
		// width: calc(50% - 0.5em);
	    height: 100%;
	    position: relative;
	    // flex-basis:  calc(50% - 75px - 1em);
	    margin-right: 0em;
	    width: 100%;
	    z-index: -1;
	    position: absolute;

	    .leaflet-container {
	    	z-index: 0;
	    	border-radius: 0.5em;
	    }
	}

	.cluster-overlay {
		height: 100%;
	    position: relative;
	    // flex-basis:  calc(50% - 75px - 1em);
	    margin-right: 0em;
	    width: 100%;
	    z-index: 0;
	    position: absolute;
	    background-image: url("/gradient_horizontal.png");
	    background-repeat: repeat-y;
	    background-size: auto;
	    background-position: left;
	    border-radius: 0.5em;
	}
}

.cluster-description {
	width: 150px;
	margin-right: 1em;
	margin-left: 1em;
	flex-basis: auto;
	text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;
	z-index: 1;

	.cluster-num-photos {
		font-size: 1.5em;
	}

	.cluster-location {
		font-size: 1.25em;
	}
}

.cluster-images {
	// width: 
	height: calc(100% - 10px);
	min-height: 90px;
	max-height: 180px;
	display: flex;
	flex-basis: calc(50% - 75px - 1em);
	align-self: center;
	align-items: center;
	z-index: 1;

	img {
		max-height: 100%;
		max-width: 30%;
		border-radius: 0.5em;
		margin-right: 1em;
	}
}

.leaflet-control-attribution {
	display: none;
}

.cluster-debug-row {
	display: flex;
	align-items: center;
	margin-top: 1em;
	background-color: #b5d0d0;
	margin-left: 600px;
	height: 350px;
	padding: 5px;

	.face-photo {
		height: 100%;
		position: relative;
		
		img {
			max-height: 100%;
			width: auto;
		}
	}
}

.cluster-debug-info {
	margin-right: 1em;
	width: 200px;
}

.duplicateBlock {
	position: relative;
}

.cluster-debug-timeline {
	.cluster-debug-map {
		width: 600px;
		height: 600px;
		position: fixed;
		top: 1em;
	}

	margin-bottom: 500px;
}

.highlighted {
	background-color: #0090ff;
	color: white;
}
