$border-color: $redwood;
$background-color: $grass;
$selected-color: $mint;
$muted-color: $stone;
$text-color: $redwood;

$border-radius: 4px;
$item-size: 24px;
$day-margin: 2px;
$triangle-size: 8px;
$datepicker__margin: 5px;
$navigation-size: 6px;
