$border-color: black;
$background-color: white;
$selected-color: $selected-blue;
$muted-color: gray;
$text-color: black;

$border-radius: 4px;
$item-size: 24px;
$day-margin: 2px;
$triangle-size: 8px;
$datepicker__margin: 5px;
$navigation-size: 6px;
